{include file="common/header"}

<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input" placeholder="开始日" name="start" id="start">
          <input class="layui-input" placeholder="截止日" name="end" id="end">
          <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th width="70">用户ID</th>
            <th width="100">访问链接</th>
            <th width="60">携带参数</th>
            <th width="150">浏览器标识</th>
            <th>访问IP</th>
            <th>note</th>
            <th>访问时间</th>
        </thead>
        <tbody>
          {volist name="list" id="list"}
          <tr>
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$list.id}'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{$list.id}</td>
            <td>{$list.uid}</td>
            <td>{$list.target_url}</td>
            <td>{$list.query_params}</td>
            <td style="max-width: 400px; min-width: 200px; white-space: nowrap; overflow: hidden;" title="{$list.ua}">{$list.ua}</td>
            <td>{$list.ip}</td>
            <td>{$list.note}</td>
            <td>{$list.created_time}</td>
          </tr>
          {/volist}
        </tbody>
      </table>
      <div class="layui-row" style="width:800px;margin: 0 auto;">
            <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            {$page}
      </div>
    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){
                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');
                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});
              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');
                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }
              
          });
      }

      /*用户-删除*/
      function member_del(obj,id){
          console.log(id);
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $.get("{:url('admin/del')}",{'id':id},function (res) {
                console.log(res);
                var res=$.parseJSON(res);
                if(res.code=='201'){
                  $(obj).parents("tr").remove();
                  layer.msg('删除成功!',{icon:1,time:1000});
                }else if(res.code=='204'){
                  layer.msg('删除失败!',{icon:1,time:1000});
                }

              });
          });
      }



      function delAll () {
        var data = tableCheck.getData();
        layer.confirm('确认要删除吗？',function(index){
           //捉到所有被选中的，发异步进行删除
            $.get("{:url('admin/delAll')}",{'id':data},function (res) {
                 var res=$.parseJSON(res);
                 if (res.code=='201'){
                     layer.msg(res.msg, {icon: 1});
                     $(".layui-form-checked").not('.header').parents('tr').remove();
                 }else if(res.code=='204'){
                     layer.msg(res.msg,{icon:1});
                 }
            });
        });
      }
    </script>
  </body>
</html>